@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  margin: 0;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.event-card-content {
  padding-top: 8px;
}
